@charset "utf-8";
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
:root {
  --main-color:#2d9499;
  --sub-color:#42bdc5;
  --sub-text-color: #9D590E;
  --text-color: #fff;
  --large-width:1000px
}


*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none; color: inherit;}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
body {
  font-family: 'NanumSquare', sans-serif;
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px; 
  }
}

@media screen and (max-width:767px) {
  body {padding: 15px;}
}
header {
  width: 100%;
  /* outline: 1px dotted red; */
}
header .container {
  max-width: var(--large-width);
  margin: 0 auto;
}
.top-nav {
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
}
.top-nav ul{
  display: flex;
  justify-content: end;
  align-items: center;
}
.top-nav ul li:not(:first-child) {
  border-left: 1px solid var(--main-color);
}
.top-nav ul li a{
  display: block;
  color: var(--main-color);
  padding: 0 10px;
}
.top-nav ul li a:hover {
  text-decoration: underline;
}

.logo {
  width: 100%;
  margin: 0 auto;
}
.logo h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hamburger-menu {
  display: block;
  font-size: 1.5em;
  cursor: pointer;
  color: var(--main-color);
}
@media screen and (min-width:768px) {
  .hamburger-menu {display: none;}
}
.search-bar {
  display: none;
}
@media screen and (min-width:768px) {
  .search-bar {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
    /* outline: 1px dotted blue; */
  }
  .search-bar i {
    font-size: 20px;
    color: var(--main-color);
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  .search-bar input {
    max-width: 350px;
    height: 30px;
    padding: 0 10px;
    border: 1px solid var(--main-color);
    border-radius: 50px;
  }
  .search-bar input::placeholder {
    opacity: 0.5;
  }
}
nav {
  background: var(--main-color);
  /* color: #fff; */
}
nav .container{
  max-width: var(--large-width);
  margin: 0 auto;
  /* height: 50px; */
}
nav .container>ul{
}
nav .container>ul>li{
  
}
nav .container>ul>li>a{
  display: block;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  color: #fff;
  /* outline: 1px dotted red; */
}
nav .container>ul>li:hover>a {
  background-image: linear-gradient(rgba(255,255,255, .5));
}
/* 2depth */
nav .container>ul>li>ul{
  display: none;
  background: rgb(245, 245, 220);
}
nav .container>ul>li:hover>ul {
  /* display: block; */
}
nav .container>ul>li>ul li{}
nav .container>ul>li>ul li a{
  display: block;
  text-align: center;
  padding: 10px 0;
  /* outline: 1px dotted red; */
}
nav .container>ul>li>ul li a:hover {
  color: var(--main-color);
  font-weight: bold;
}
@media screen and (max-width:767px) {
  /* 모바일전용 햄버거*/
  .hamburger-menu:hover {
    opacity: 0.3;
  }
  .headB {display: none;}
}

@media (max-width:599px) {
  nav .container>ul>li>a {
    font-size: 14px;
    font-weight: normal;
  }
  nav .container>ul>li>ul li a {
    font-size: 12px;
  }
}
@media (min-width:600px) and (max-width:799px) {
  nav .container>ul>li>a {
    font-size: 16px;
  }
}
@media screen and (min-width:768px) {
  nav .container>ul{
    display: flex;  
  }
  nav .container>ul>li{
    flex: 1;
    position: relative;
  }
  nav .container>ul>li>a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    /* outline: 1px dotted red; */
  }
  nav .container>ul>li:hover>a {
    background-image: linear-gradient(rgba(255,255,255, .2));
  }
  nav .container>ul>li>ul{
    display: none;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    background: rgba(245, 245, 220, .8);
    z-index: 30;
  }
  nav .container>ul>li:hover>ul {
    /* display: block; */
  }
  nav .container>ul>li>ul li{}
  nav .container>ul>li>ul li a{
    display: block;
    text-align: center;
    padding: 15px 0;
    /* outline: 1px dotted red; */
  }
  nav .container>ul>li>ul li a:hover {
    color: var(--main-color);
    font-weight: bold;
    text-decoration: underline;
  }
  .hamburger-menu {display: none;}
  .headB {
    display: block!important; 
  }
  .menu-close {
    display: none;
  }
}
@media screen and (max-width:767px) {

  .headB {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    max-width: 320px;
    height: 100vh;
    background: var(--main-color);
    z-index: 1000;
    transition: right 0.35s ease;
    padding-top: 60px;
  }

  /* 메뉴 열렸을 때 */
  .headB.active {
    right: 0;
  }

  /* X 버튼 */
  .menu-close {
    position: absolute;
    top: 15px;
    left: 15px;
    background: none;
    border: none;
    font-size: 28px;
    color: #fff;
    cursor: pointer;
  }

  /* 모바일 메뉴 */
  nav .container > ul {
    display: block;
  }

  nav .container > ul > li > a {
    height: auto;
    padding: 15px;
    line-height: 1.4;
    text-align: left;
    border-bottom: 1px solid rgba(255,255,255,.3);
  }

  nav .container > ul > li > ul {
    position: static;
  }

}

/* 슬라이드 */
#slide {
  overflow: hidden;
  position: relative;
  max-width: 1200px;
  width: 100%;
  height: 640px;
  margin: 0 auto;
  margin-top: 20px;
}
#slide ul {
  position: relative; 
  width: calc(1200px * 6);
  height: 640px;
  /* background: yellow; */
}
#slide ul li {
  float: left;
  width: 1200px;
  height: 640px;
  /* outline: 1px dotted red; */
}
#slide ul li a{
  display: block;
  width: 100%;
  height: 640px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#slide ul li.sd1 a{
  background: url(../images/slide_img/slide01.jpg);
}
#slide ul li.sd2 a{
  background: url(../images/slide_img/slide02.jpg);
}
#slide ul li.sd3 a{
  background: url(../images/slide_img/slide03.jpg);
}
#slide ul li.sd4 a{
  background: url(../images/slide_img/slide04.jpg);
}
#slide ul li.sd5 a{
  background: url(../images/slide_img/slide05.jpg);
}
#slide ul li.sd6 a{
  background: url(../images/slide_img/slide06.jpg);
}

#slide .prev, 
#slide .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  color: var(--main-color);
  font-size: 50px;
  cursor: pointer;
  z-index: 10;
}
#slide .prev {left: 20px;}
#slide .next {right: 20px;}

#slide .pager {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}
#slide .pager span {
  width: 12px;
  height: 12px;
  background: #ccc;
  border-radius: 50%;
  cursor: pointer;
}
#slide .pager span.active {
  background: var(--main-color);
}

/* 제품 */
.products {
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
}
.product-tittle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products h2 {
  margin: 20px 0;
  color: var(--main-color);
}
.products p.more {
  color: #bbb;
}
.products p.more:hover {
  text-decoration: underline;
}
.products-wrap {
  position: relative;;
}

.product-list {
  display: flex;
  gap: 12px;
}
/* 버튼 */
.p-prev,
.p-next {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 30px;
  color: var(--main-color);
  z-index: 10;
  cursor: pointer;
}

.p-prev { left: 20px; }
.p-next { right: 20px; }

.product {
  flex: 0 0 auto;
  width: 360px;
  max-width: 100%;
}
/* 썸네일 */
.product .thumb {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.product .thumb img {
  width: 100%;
  height: auto;
  display: block;
}

/* hover 이미지 */
.product .img-hover {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

/* hover fade 효과 */
.product .thumb:hover .img-hover {
  opacity: 1;
}

.product .thumb:hover .img-main {
  opacity: 0;
}

.product .thumb img {
  transition: opacity 0.4s ease;
}

/* 텍스트 */
.product .name {
  margin-top: 12px;
  font-weight: bold;
}
.product .name:hover {
  text-decoration: underline;
}
.product .price {
  margin-top: 12px;
  font-size: 14px;
  font-weight: bold;
  color: var(--sub-text-color);
}

.product a {
  display: block;
}

@media screen and (min-width: 768px) {
  .products {
    width: var(--large-width)
  }

  .product-list {
    display: flex;
    gap: 30px;
  }

  .product {
    flex: 1;
    width: auto;
  }

  .p-prev,
  .p-next {
    display: none;
  }
}
@media screen and (max-width:767px) {
  .products-wrap {
    overflow: hidden;
    position: relative;
  }
  
  .product-list {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    left: 0;
    gap: 0;
  }
  
  .product {
    flex: 0 0 calc(100% - 40px);
    min-width: 0 0 calc(100% - 40px);
    padding: 0 20px;
  }
}

/* 카드뉴스 */
.cardnews-section {
  max-width: var(--large-width);
  margin: 0 auto;
}
.cardnews-section h2 {
  text-align: center;
  color: var(--main-color);
  margin: 20px 0;
}
.cardnews {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 50px;
}

.card {
  flex: 1 1 calc(50% - 12px);
}

.card-inner {
  position: relative;
  width: 100%;
  height: 160px; 
  overflow: hidden;
  border-radius: 10px;
  border: 1px dotted #ccc;
  background: #fff;
}

.card-inner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: #fff;
  transition: transform 0.45s ease;
}

.card-logo {
  z-index: 2;
  transform: translateY(0);
}

.card-product {
  z-index: 1;
  transform: translateY(100%);
}

/* hover 효과 */
.card:hover .card-logo {
  transform: translateY(-100%);
}

.card:hover .card-product {
  transform: translateY(0);
}

@media (min-width: 1200px) {
  .card {
    flex: 1;
    gap: 20px;
  }

  .card-inner {
    height: 180px;
  }
  
}

/* NOTICE */
.notice {
  max-width: var(--large-width);
  margin: 0 auto;
}

.notice h2 {
  color: var(--main-color);
  margin-bottom: 20px
}

.notice-table {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid #e5e5e5;
  margin-bottom: 50px;
}

.notice-table tr {
  height: 70px;
  padding: 0 10px;
  border-bottom: 1px solid #e5e5e5;
}
.notice-table tr a {
  display: block;
}
.notice-table tr:hover a {
  opacity: .5;
  text-decoration: underline;
}
.notice-date {
  display: none;
  color: #888;
  white-space: nowrap;
}

.notice-type {
  width: 100px;
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
}

.notice-text {
  color: #333;
}

@media (min-width: 768px) {
  .notice-date {
    display: table-cell;
    width: 90px;
  }

  .notice-table td {
    padding: 0 20px;
  }
  .notice-type {
    
  }
}

/* 배너 */
.banner {
  max-width: var(--large-width);
  height: 150px;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 50px;
  background: url(../images/banner.jpg);
  object-fit: cover;
  box-shadow: 0px 2px 10px #aaa;
  cursor: pointer;
}

.banner:hover {
  opacity: .6;
}

/* information */
.information {
  margin-bottom: 50px;
}
/* contact */
.contact {
  min-height: 300px;
  border: 2px solid var(--main-color);
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.contact h2 {color: var(--sub-text-color);}
.contact-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--main-color);
  font-size: 25px;
  font-weight: bold;
  margin: 15px 0;
  padding-left: 10px;
}
.contact .contact-title {
  font-weight: bold;
  margin-bottom: 10px;
  padding-left: 10px;
}
.contact .contact-time {
  font-size: 14px;
  padding: 0 5px;
  margin-bottom: 10px;
  line-height: 1.5;
  padding-left: 15px;
}

/* quickmenu */
.quickmenu {
  min-height: 300px;
  border: 2px solid var(--main-color);
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.quickmenu h2 {
  color: var(--sub-text-color);
  margin-bottom: 15px;
}
.quickmenu-wrap {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  box-sizing: border-box;
}
.quickmenu-wrap .icon {
  width: 50%;
  margin-bottom: 30px;
}
.quickmenu-wrap .icon a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: bold;
  font-size: 14px;
}
.quickmenu-wrap .icon i {
  /* color: var(--main-color); */
  font-size: 60px;
  transition: transform 0.2s ease;
}
.quickmenu-wrap .icon a:hover {
  color: var(--main-color);
  animation: bounceY 0.5s ease;
}
@keyframes bounceY {
  0%   { transform: translateY(0); }
  30%  { transform: translateY(-6px); }
  60%  { transform: translateY(3px); }
  100% { transform: translateY(0); }
}

/* bankinfo */
.bankinfo {
  min-height: 300px;
  border: 2px solid var(--main-color);
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.bankinfo-title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.bankinfo-title i {
  font-size: 26px;
  color: var(--sub-text-color);
}

.bankinfo-title h2 {
  color: var(--sub-text-color);
}

.bankinfo-nunber {
  margin-top: auto;
}

.bankinfo-nunber, .bankinfo>p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bankinfo-nunber img {
  width: 24px;
  height: auto;
  padding-right: 10px;
}
.bankinfo p {
  font-size: 18px;
}
.bankinfo .bankinfo-nunber p {
  font-weight: bold;
}
.bankinfo>p {
  color: var(--main-color);
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: auto;
}

@media screen and (min-width:768px) {
  .information {
    display: flex;
    gap: 20px;
    max-width: var(--large-width);
    margin: 0 auto 50px;
  }
  .contact, .quickmenu, .bankinfo {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

/* footer */
footer {
  width: 100%;
  border-top: 1px solid var(--main-color);
}
.footer-wrap {
  max-width: var(--large-width);
  margin: 50px auto;
  color: #333;
}
.footer-main {
  margin-bottom: 30px;
}
.footer-main img {
  display: block;
}
.footer-main small {
  line-height: 1.8;
}
.footer-main small a {
  font-weight: bold;
}
.footer-main small a:hover {
  text-decoration: underline;
}
.copy {
  display: block;
  text-align: center;
}
.copy a {font-weight: bold;}
.copy a:hover {text-decoration: underline;}

@media screen and (min-width:768px) {
  .footer-main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 30px;
  }
}

/* top 버튼 */
#topBtn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: var(--main-color);
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 20px;
  cursor: pointer;
}
#topBtn a {
  display: block;
  padding: 10px;
}

@media screen and (min-width:768px) {
  #topBtn {
    right: 100px;
    bottom: 100px;
  }
}